# Archivos de eclipse
.project
.settings/

# Archivos de sistema
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Configuración de IDEs
.idea/
.vscode/
*.iml

# Archivos de compilación
/bin/
build/
out/
*.class

# Archivos temporales
*.log
*.tmp
*.swp
*~

# Archivos de empaquetado
*.war
*.ear

# Archivos de pruebas
/test-output/
